#root {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}
html, body, #root {
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Armino";
}
html, body {
  width: 100%;
}
img.big {
  width: 100%;
  max-height: min-content;
}

.space {
  margin: 1rem 0;
}
.border{
  border-color:#a0a3a9;
  border-radius: 1rem;
  border-width: .2rem;
  border-style: solid;
  padding: 1rem;
}
.links{
  font-size: 1.2rem;
}
.icon-align {
  float: left;
  margin-right: 1rem;
}
.text-container {
  overflow: hidden;
}
.background {
  background-color: #edf0f4;
}

@font-face {
  font-family: "Armino";
  src: url("./assets/fonts/Arimo/Arimo-VariableFont_wght.ttf");
}

.card {
  padding: 2rem;
}
